.about-brand {
  margin-top: 60px;
  margin-bottom: 86px;
}
.about-brand__head {
  text-align: center;
}
.about-brand__cards {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.about-brand__card {
}
.about-brand__card_picture {
}
.about-brand__card_title {
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
}
.about-brand__card_text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 1199px) {
  .about-brand {
    margin-top: 48px;
    margin-bottom: 45px;
  }
  .about-brand__cards {
    flex-direction: column;
  }
  .about-brand__card_title {
    font-size: 16px;
    line-height: 21px;
  }
  .about-brand__card_text {
    font-size: 14px;
    line-height: 21px;
  }
}
