button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.button {
    padding: 16px 32px;
}
@media only screen and (max-width: 1199px) {
    .button {
        padding: 12px 20px;
    }
    .big_button {
        width: 100%;
    }
}