.connection {
    display: flex;
  background-image: url(../resources/Image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  height: 603px;
}
.connection__content {
  /* width: calc(50% - 50px); */
  position: absolute;
}
.connection__content_title {
  padding-top: 72px;
}
.connection__content_text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
}
.connection__content_btn {
  margin-top: 196px;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
}
.connection__content_btn:hover {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: #fff;
}
.connection__picture {
}

@media only screen and (max-width: 1199px) {
.connection {
    flex-direction: column;
}
}