.connection {
  display: flex;
  justify-content: space-between;
}
.connection__content {
  margin-left: 40px;
}
.connection__content_title {
  padding-top: 72px;
}
.connection__content_text {
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
}
.connection__content_btn {
  margin-top: 196px;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
}
.connection__content_btn:hover {
  border: 1px solid var(--dark-color);
  background-color: var(--dark-color);
  color: #fff;
}
.img-cover {
  max-width: 720px;
  
}

@media only screen and (max-width: 1199px) {
  .connection {
    flex-direction: column;
  }
  .connection__content {
    margin: auto 24px;
  }
  .connection__content_title {
    padding-top: 48px;
  }
  .connection__content_text {
    margin-top: 12px;
  }
  .connection__content_btn {
    margin-top: 64px;
    margin-bottom: 38px;
  }
  .img-cover {
    width: 100%;
    object-fit: cover;
  }
}
