footer {
    padding-top: 58px;
    background-color: var(--dark-color);
    color: #fff;
    
}
.footer__nav {
    display: flex;
    
}
.footer__menu {
    display: flex;
    gap: 120px;
    width: calc(50%);
    font-size: 14px;
    line-height: 19px;
}
.footer__menu ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__menu_title {
    font-size: 16px;
    line-height: 20px;
}
.footer__join {
}
.footer__join-club__form {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
}
.footer__join-club__form button {
    color: var(--dark-color);
    background-color: #fff;
}
.footer__join-club__form input {
    padding-left: 40px;
    border: 1px solid var(--light-violet);
    background-color: var(--light-violet);
    font-size: 16px;
    line-height: 21px;
}
.footer__join-club__form_input:hover {
    border-color: var(--light-violet);
    outline: none;
}
.footer__join-club__form_input::placeholder{
    font-family: inherit;
    color: #fff;
}

.line {
}
.footer__social-media {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.copyright {
}
.social-media__cards ul{
    display: flex;
    gap: 24px;
}
@media only screen and (max-width: 1199px) {
.footer__nav {
    flex-wrap: wrap;
}
.footer__menu {
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
}
.footer__social-media {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.footer__join-club__form {
    margin-top: 16px;
    width: 100%;
}
.copyright {
    order: 2;
}
.footer__join-club__form-title {
    margin-top: 40px;
}
}
