.container-grey {
  background-color: var(--light-grey);
}
.join-club {
  padding-top: 52px;
  padding-bottom: 65px;
}
.join-club__wrapper {
  padding-top: 68px;
  padding-bottom: 54px;
  border: 1px solid #fff;
  background-color: #fff;
  text-align: center;
}
.join-club__title {
  font-size: 36px;
  line-height: 50px;
}
.join-club__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}
.join-club__form {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
}
.join-club__form button {
  color: #fff;
  background-color: var(--dark-color);
}
.join-club__form input {
  padding-left: 40px;
  width: 350px;
  border: 1px solid var(--light-grey);
  background-color: var(--light-grey);
  font-size: 16px;
  line-height: 21px;
}
.join-club__form_input:hover {
  border-color: var(--light-grey);
  outline: none;
}
.join-club__form_input::placeholder {
  font-family: inherit;
  opacity: 0.5;
}
@media only screen and (max-width: 1199px) {
  .join-club__title {
    font-size: 20px;
    line-height: 28px;
  }
  .join-club__text {
    font-size: 14px;
    line-height: 21px;
  }
  .join-club__form {
    margin-left: 10px;
    margin-right: 10px;
  }
}
