.preview {
  margin: 60px 0;
  background-color: var(--dark-color);
  /* max-height: 584px; */
  color: #fff;
}
.preview__content {
  display: flex;
  flex-direction: column;
  padding: 60px;
  background-image: url(../resources/Chair.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.preview__content_head {
  max-width: 35%;
}
.preview__content_button {
  width: 180px;
  margin-top: 41px;
  border: 1px solid var(--light-violet);
  background-color: var(--light-violet);
}
.preview__content_button:hover {
  background-color: #fff;
  color: var(--dark-color);
}
.preview__content_text {
  max-width: 50%;
  margin-top: 196px;
  font-size: 18px;
  line-height: 27px;
}
.preview__picture {
}

@media only screen and (max-width: 1199px) {
  .preview {
    margin: 0;
  }
  .preview__content {
    background-image: none;
    padding: 40px 0 24px;
  }
  .preview__content_text {
    margin-top: 80px;
    max-width: 90%;
    order: 2;
  }
  .preview__content_head {
    max-width: 90%;
    order: 1;
  }
  .preview__content_button {
    width: 100%;
    order: 3;
  }
}
