@import url('../css/fonts.css');
@import url('../css/menu.css');
@import url('../css/button.css');
@import url('../css/preview.css');
@import url('../css/about-brand.css');
@import url('../css/ceramics.css');
@import url('../css/popular-products.css');
@import url('../css/join-club.css');
@import url('../css/connection.css');
@import url('../css/footer.css');
@import url('../css/burger.css');
/* Общие настройки */
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.body_fixed {
    overflow: hidden;
}
:root {
    --dark-color: #2A254B;
    --violet-color: #4E4D93;
    --light-violet: #726E8D;
    --light-grey: #f9f9f9;
}
.container {
    margin: 0 auto;
    width: 1200px;
}

@media only screen and (max-width: 1199px) {
.container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}
}